<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
body {
  font-family: sans-serif;
}

.container {
  width: 300px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  padding: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}
</style>

</head>
<form method="POST">
    {% csrf_token %}
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="login.php" method="post">
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <button type="submit">Login</button>
          <a href="#">Forgot password?</a>
          {{message}}
        </form>
      </div>
</body>
</html>